.my-simple-calendar {
    position: relative;
}

.my-simple-calendar::after {
    position: absolute;
    content: "";
    left: 0;
    top: 33px;
    height: 1px;
    width: 100%;
    background-color: #c5c6d166;
}

#simple-calendar header .month {
    display: none
}

.my-cal {
    position: relative;
    /* overflow: hidden; */
    text-transform: capitalize;
    text-align: center;
    font: 15px/1em inherit;
    color: #545A5C;
    width: 90%;
    margin: 12px auto;
}

.my-cal a {
    text-decoration: none;
    color: inherit;
}

.my-cal header .simple-calendar-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #35A0B8;
    border-radius: 50%;
    top: -5px;
    z-index: 999;
    pointer-events: all;
}

.my-cal header .simple-calendar-btn:before {
    content: '';
    position: absolute;
    top: 30%;
    width: 12px;
    height: 12px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    transform-origin: center center;
}

.my-cal header .btn-prev {
    left: -15px;
    transform: rotate(-180deg);
}

.my-cal header .btn-prev::before {
    left: 33%;
}

.my-cal header .btn-next {
    right: -15px;
}

.my-cal header .btn-next::before {
    right: 33%;
}

.my-cal header .btn-next:before {
    transform: rotate(45deg);
}

.my-cal header .month {
    padding: 0;
    margin: 0;
}

.my-cal header .month .year {
    font-size: 0.6em;
    font-weight: 100;
}

.my-cal table {
    width: 100%;
    border-spacing: 0px;
}

.my-cal thead {
    font-size: 1em;
    display: flex;
    position: relative;
}

.my-cal tbody td {
    padding: .8em .1em;
}

.my-cal thead td {
    border: none;
    padding-bottom: 7px;
}

.my-cal .day {
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.8em;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
}

.my-cal .day.today {
    background: #D7ECF1;
    color: #000;
}

.my-cal .selected-day {
    background: #35A0B8;
    color: #fff;
    position: relative;
    border-radius: 50%;
}

.my-cal .day.wrong-month {
    color: #CBD1D2;
}


/* .my-cal .day.wrong-month:hover {
    border: 2px solid transparent;
} */

.my-cal .my-cal-currentWeakActive .day {
    position: relative;
}

.my-cal .my-cal-currentWeakActive .day::after {
    background-color: #35A0B8;
    content: '';
    position: absolute;
    top: 45%;
    right: -25%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.my-cal .day.disabled {
    cursor: default;
}

.my-cal .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px;
    background: #545A5C;
    box-sizing: border-box;
}

.my-cal .event-container .event-wrapper {
    overflow-y: auto;
    max-height: 100%;
}

.my-cal .event-container .close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.my-cal .event-container .close:before,
.my-cal .event-container .close:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #CBD1D2;
}

.my-cal .event-container .close:before {
    transform: rotate(45deg);
}

.my-cal .event-container .close:after {
    transform: rotate(-45deg);
}

.my-cal .event-container .event {
    position: relative;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background: #6691CC;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    text-align: left;
    color: white;
}

.my-cal .event-container .event-date {
    margin-bottom: 1em;
}

.my-cal .event-container .event-hour {
    float: right;
}

.my-cal .event-container .event-summary {
    font-weight: 600;
}

.my-cal .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #545A5C;
    transform: translate(-50%, -50%);
}


/* resposive */

@media only screen and (max-width:350px) {
    #simple-calendar .my-cal table td {
        padding: 5px;
        font-size: 13px;
    }
    .my-cal table thead {
        font-size: 13px;
    }
}

@media only screen and (max-width:350px) {
    #simple-calendar .my-cal table td {
        padding: 5px;
        font-size: 10px;
    }
    .my-cal table thead {
        font-size: 10px;
    }
}


/* show hide  */

.my-cal table td,
.my-cal thead td {
    width: 14.285%;
}

.my-cal table tbody tr {
    display: none
}

#simple-calendar table tbody .my-cal-currentWeakActive {
    display: flex;
    border: none;
}


/* #simple-calendar table tbody .my-cal-currentWeakActive td {
  border: none
} */

.show-full-simple-cal::after {
    content: "";
    width: 0;
}

.show-full-simple-cal .my-cal table tbody tr {
    display: flex !important;
}

.show-full-simple-cal .my-cal table tr td,
.show-full-simple-cal .my-cal .my-cal-currentWeakActive td {
    border: 1px solid rgba(197, 198, 209, 0.4) !important;
}

.show-full-simple-cal .simple-calendar-btn {
    display: none !important;
}